/* Make navbar fixed at the top and full width */
.navbar2 {
  position: sticky;
  top: 0;
  left: 0;
  
  height: 60px;
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Add space below the navbar so content isn't hidden */
body {
  padding-top: 0px; /* matches navbar height */
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right:4rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s;
}

.nav-link:hover {
  color: #00bcd4;
}

.logout-btn {
  background: #ff5252;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #ff1744;
}
